body {
    margin: 0;
    font-family: Arial, sans-serif;
}
.top-bar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(255, 105, 50);
    color: white;
    text-align: left;
    padding: 0.1em 4%; /* Reducir el padding para hacer la franja más delgada */
    z-index: 1000;
}
.top-bar .social-icon {
    color: white;
    margin-left: 10px;
    text-decoration: none;
}
.header {
    position: fixed;
    top: 2.3em; /* Ajustar la posición de la cabecera */
    width: 100%;
    background-color: #ffffff; /* Blanco ligeramente grisáceo */
    color: black;
    display: flex;
    justify-content: space-between; /* Distribuir espacio entre elementos */
    align-items: center;
    padding: 0.5em 2%;
    z-index: 999;
}
.header-left {
    flex: 1;
    text-align: left;
    margin-left: 2%; /* Añadir margen izquierdo relativo */
}
.header-left img {
    height: 100px; /* Ajusta la altura según sea necesario */
    width: auto; /* Mantiene la proporción de la imagen */
}
.header-right {
    flex: 1;
    text-align: right;
    margin-right: 10%; /* Añadir margen derecho relativo */
}
.header-right a {
    margin-left: 20px; /* Espacio entre los enlaces */
    margin-right: 10px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.content {
    margin-top: 7em; /* Altura combinada de la barra superior y la cabecera */
    padding: 20px;
    text-align: center;
}
.modules {
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
}
.module {
    background-color: rgb(255, 105, 50); /* Fondo naranja */
    color: white; /* Letra blanca */
    padding: 20px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    width: 28%;
    text-align: center;
    height: 200px; /* Aumentar altura vertical */
    overflow: hidden; /* Evitar que el texto se salga del módulo */
    word-wrap: break-word; /* Permitir que el texto se ajuste al tamaño del contenedor */
}
.module h3 {
    margin-top: 0;
}
.module p {
    margin-top: 10px;
    color: white; /* Letra blanca para el contenido */
}